.header {
  background-color: #f2f2f2;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &-title {
    font-size: 3rem;
  }
}

.main {
  min-height: 75vh;
  max-height: 80vh;
  // overflow-x: scroll;
  overflow: auto;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}
.footer {
  background-color: #f0f0f0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.4rem;
  }
}
